:host {
  .main {
    background-color: #3e62ad;
  }

  .page-content {
    height: 580;
  }

  .tab-menu {
    height: 120;
    background-color: white;
    border-radius: 80px;

    Button {
      top:           6;
      left:          6;
      height:        80;
      width:         80;
      border-radius: 50px;
      background:    #3e62ad;
    }
  }

  .shadow {
    height:           1;
    width:            1;
    background-color: none;
  }
}
