:host {
  background-color: aqua;

  .tab-menu {
    background-color: #3e62ad; // 9D95B4
    Button {
      height: 80;
      width:  96;
      border-radius: 50px;
      background: #9D95B4;
    }
  }
}
