<ActionBar>
    <Label text="portal app"></Label>
</ActionBar>
<!--<DockLayout>-->
<!--    <Label text="content"></Label>-->
<!--</DockLayout>-->
<GridLayout class="page tab-menu" rows="auto, *, 100" columns="*, *, *">
    <!-- Add your page content here -->
    <AbsoluteLayout row="2" col="0">
        <Label class="shadow"       (loaded)="onShadowLoaded($event)" ></Label>
        <Label class="shadow-inset" (loaded)="onShadowInsetLoaded($event)" ></Label>
        <Button class="tab-button_merch" text="Btn1"></Button> <!-- (tap)="onButtonTap() -->
    </AbsoluteLayout>
    <AbsoluteLayout row="2" col="1">
        <Label class="shadow"       (loaded)="onShadowLoaded($event)" ></Label>
        <Label class="shadow-inset" (loaded)="onShadowInsetLoaded($event)" ></Label>
        <Button class="tab-button_live"  text="Btn2"></Button> <!-- (tap)="onButtonTap() -->
    </AbsoluteLayout>
    <AbsoluteLayout row="2" col="2">
        <Label class="shadow"       (loaded)="onShadowLoaded($event)" ></Label>
        <Label class="shadow-inset" (loaded)="onShadowInsetLoaded($event)" ></Label>
        <Button class="tab-button_goods" text="Btn3"></Button> <!-- (tap)="onButtonTap() -->
    </AbsoluteLayout>
</GridLayout>
